

.login-container {
  width: 600px;
  padding: 30px;
  margin-left: 300px;
  background-color: #6aa1c8;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.error-text {
  color: red;
  margin-top: 5px;
}

