  <app-customer></app-customer>
<div class="login-container">
    <h1 style="text-align: center;">&nbsp;EDIT CUSTOMER</h1>
    <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Form Submitted!</strong> Customer details Updated.!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <form [formGroup]="editCustomer" (ngSubmit)="UpdateData()">
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" placeholder="Enter firstName" formControlName="firstName">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter lastName" formControlName="lastName">
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" formControlName="gender" placeholder="Select Gender">
                <option selected disabled>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" placeholder="Enter address" formControlName="address">
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" placeholder="Enter city" formControlName="city">
        </div>
        <div class="mb-3">
            <label for="stateName" class="form-label">State Name</label>
            <input type="text" class="form-control" placeholder="Enter state Name" formControlName="stateName">       
        </div>
        
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>