<div class="view">
  <div class="container">
    <header>
      <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
    </header>
    <br />
    <div class="row">
      <div class="col-md-2">GitHub:</div>
      <div class="col-md-10"><a href="https://github.com/Mohan6040/ANGULAR15-S1.git" target="_blank">https://github.com/Mohan6040/ANGULAR15-S1.git</a></div>
    </div>
    
    <div class="info-container">
      <div class="row">
        <div class="col-md-2">Twitter</div>
        <div class="col-md-10"><a href="https://twitter.com/i/flow/login" target="_blank">https://twitter.com/i/flow/login</a></div>
      </div>
      <br />
      <!-- New sections for YouTube, Instagram, and Facebook -->
      <div class="row">
        <div class="col-md-2">YouTube:</div>
        <div class="col-md-10"><a href="https://www.youtube.com/" target="_blank">https://www.youtube.com/</a></div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-2">Instagram:</div>
        <div class="col-md-10"><a href="https://www.instagram.com/" target="_blank">https://www.instagram.com/</a></div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-2">Facebook:</div>
        <div class="col-md-10"><a href="https://www.facebook.com/" target="_blank">https://www.facebook.com/</a></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>Contact Contura</h2>
  <form action="#" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit">Submit</button>
  </form>
</div>