
body {
  font-family:'Times New Roman', Times, serif;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
}
#order-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  
}

/* Style for each customer section */
h2 {
  background-color: #3463db;
  color: #fff;
  padding: 10px;
  margin-bottom: 0;
}




