<div class="table-responsive custom-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order List ID</th>
        <th>Product Name</th>
        <th>Item Cost</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let orderList of ordersList">
        <ng-container *ngFor="let order of orderList.orders; let first = first">
          <tr>
            <td *ngIf="first" [attr.rowspan]="orderList.orders.length">{{ orderList.id }}</td>
            <td>{{ order.productName }}</td>
            <td>{{ order.itemCost | currency: 'USD':true }}</td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
