.my-custom-form {
  font-family:'Times New Roman', Times, serif; 
  background-color: #a5d8fd; 
  border-radius: 5px; 
  text-align: center;
  margin-top: 50px;
}

.error-text {
  color: red;
  margin-top: 5px;
}

