<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <nav class="navbar navbar-custom">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="home" class="navbar-brand">
               Customer Manager
            </a>
          </div>
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a [routerLink]="['/customers']">Customers</a></li>
              <li><a [routerLink]="['/orders/:id']">Orders</a></li>
              <li><a [routerLink]="['/about']">About</a></li>
              <li><a [routerLink]="['/login']">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container content">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>
