<div class="bg-white p-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-4">
      <h1 class="text-xl font-semibold" style="text-align: center;">
        CUSTOMERS</h1>
        <h4>Click on View button to view customers list.</h4>
    </div>

    <a href="/listview" class="button-link">
      <button
        class="justify-center text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:text-accent-foreground h-10 px-4 py-2 flex items-center space-x-1">

        <span>List View</span>
      </button>
    </a>&nbsp;

    <a href="/addcustomer" class="button-link">
      <button
        class="justify-center text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 flex items-center space-x-1">
        <span>New Customer</span>
      </button>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  </div>
</div>
